.carousel-banner {
  margin: 0 auto;         
  overflow: hidden;       
  white-space: nowrap;    
  position: relative;
  padding: 10px 0;
  background-color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;

  .carousel-track {
    display: inline-flex;
    animation: scroll 15s linear infinite;
    will-change: transform; // Optimisation du rendu
  }

  .carousel-image {
    width: 200px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
    object-fit: cover;

    // **Ajouts pour un affichage plus net et fluide**
    image-rendering: auto; // Garde la meilleure qualité
    min-width: 200px; // Évite les images écrasées
    max-height: auto; // Ajuste la hauteur max pour éviter les distorsions
    transition: transform 0.2s ease-in-out; // Animation douce
  }
}

/* Définition de l'animation de défilement */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
